html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Nuima outline nuo inputu chrome */
textarea:focus, input:focus, select:focus, button:focus {
  outline: 0; }

a {
  text-decoration: none;
  outline: none !important; }

/* ClearFix */
.cf:before, .cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

/* --------- */
html {
  position: relative;
  min-height: 100%; }

body {
  background: url("../images/bg.jpg");
  overflow-x: hidden;
  margin: 0 0 90px; }

.container {
  max-width: 420px;
  height: auto;
  margin: 0 auto;
  position: relative; }

.filter-item {
  cursor: pointer;
  position: relative;
  padding-left: 25px; }

.filter-item:before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  border: 3px solid #000;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 6px;
  background-color: #fff; }

input[type=checkbox]:checked + .filter-item:before {
  background-color: #8a9cf6; }

input[type=checkbox] {
  display: none; }

.frmbtn {
  display: inline-block;
  width: 50%;
  float: left;
  height: 60px;
  background-color: #292b35;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font: 400 14px Roboto;
  padding: 0;
  white-space: normal;
  cursor: pointer; }
  .frmbtn:last-child {
    -webkit-box-shadow: inset 1px 0px 0px 0px white;
    -moz-box-shadow: inset 1px 0px 0px 0px white;
    box-shadow: inset 1px 0px 0px 0px white; }

@media only screen and (min-width: 450px) {
  body {
    margin: 0 0 65px; }
  .container {
    max-width: 480px; } }

@media only screen and (min-width: 767px) {
  body {
    margin: 0 0 40px; }
  .container {
    max-width: 780px; } }

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1180px; } }

.container.grid {
  margin-top: 50px;
  padding-bottom: 20px; }
  .container.grid .item {
    position: absolute;
    display: inline-block; }
    .container.grid .item img {
      display: block; }
    .container.grid .item:hover .item-info {
      max-height: 500px; }
    .container.grid .item .item-info {
      position: absolute;
      bottom: 0px;
      width: 100%;
      max-height: 500px;
      overflow: hidden;
      -webkit-transition: max-height 0.5s linear;
      -moz-transition: max-height 0.5s linear;
      -o-transition: max-height 0.5s linear;
      transition: max-height 0.5s linear;
      font-family: 'Roboto', sans-serif;
      color: #292b35;
      background: white; }
      .container.grid .item .item-info h3 {
        margin: 24px 24px 15px;
        font-size: 22px;
        text-transform: uppercase;
        max-width: 80%;
        font-weight: 300; }
      .container.grid .item .item-info p {
        font-size: 12px;
        margin: 0 24px 24px; }
.container .pagination {
  display: none; }
.container .ias-noneleft {
  position: absolute;
  bottom: -80px;
  width: 100%; }
.container .ias-spinner {
  position: absolute;
  bottom: -80px;
  width: 100%; }

@media only screen and (min-width: 450px) { }

@media only screen and (min-width: 767px) {
  .container.grid {
    margin-top: 60px; } }

@media only screen and (min-width: 1200px) {
  .container.grid .item {
    padding-bottom: 0px !important; }
    .container.grid .item .item-info {
      max-height: 0px;
      background: url("../images/eye.png") no-repeat 97% 5% rgba(255, 255, 255, 0.8); } }

.container.asort {
  margin-top: 60px; }
  .container.asort .asorting {
    margin: 0 5%;
    width: 90%;
    height: auto;
    background: url("../images/bg-darker.jpg");
    font: 500 12px Roboto;
    text-transform: uppercase; }
    .container.asort .asorting .tekstinis {
      display: block;
      float: left;
      width: 100%;
      height: 40px;
      background-color: #292b35;
      position: relative;
      color: #fff;
      text-align: center;
      line-height: 40px;
      cursor: pointer; }
    .container.asort .asorting .itemai {
      display: none;
      width: 90%;
      padding: 0 5%; }
      .container.asort .asorting .itemai .asort-item {
        width: 48%;
        display: inline-block;
        float: left;
        margin-top: 5px; }
        .container.asort .asorting .itemai .asort-item:last-of-type {
          margin-bottom: 5px; }
        .container.asort .asorting .itemai .asort-item:nth-of-type(odd) {
          margin-right: 2%; }
        .container.asort .asorting .itemai .asort-item.active a {
          color: #8a9cf6; }
        .container.asort .asorting .itemai .asort-item a {
          color: #292b35;
          display: block;
          width: 100%;
          height: 100%; }
          .container.asort .asorting .itemai .asort-item a:hover {
            color: #8a9cf6; }
.container.autoriai {
  margin-top: 20px;
  padding-bottom: 20px; }
  .container.autoriai .author-item {
    width: 150px;
    height: 150px;
    position: absolute; }
    .container.autoriai .author-item img {
      width: 150px;
      height: 150px; }
    .container.autoriai .author-item .author-item-info {
      position: absolute;
      bottom: 0;
      max-height: 140px;
      width: 100%;
      background: rgba(255, 255, 255, 0.8);
      color: #292b35; }
      .container.autoriai .author-item .author-item-info span {
        display: block;
        padding: 10px 5%;
        font: 400 12px Roboto, sans-serif;
        text-transform: uppercase; }

.sorting {
  margin: 30px 0; }
  .sorting .sort-item {
    height: 32px;
    width: auto;
    border: 2px solid #292b35;
    display: inline-block;
    float: left;
    line-height: 32px; }
    .sorting .sort-item:hover {
      border-color: #8a9cf6; }
      .sorting .sort-item:hover a {
        color: #8a9cf6 !important; }
    .sorting .sort-item a {
      height: 100%;
      width: auto;
      padding: 0 10px;
      color: #292b35;
      text-decoration: none;
      font: 500 16px Roboto, sans-serif;
      text-transform: uppercase; }

@media only screen and (min-width: 767px) {
  .container.asort .asorting {
    margin: 0 5%;
    width: 90%; }
    .container.asort .asorting .tekstinis {
      display: none;
      pointer-events: none;
      cursor: default;
      display: inline-block;
      width: 100px;
      height: 100%;
      margin-right: 100px;
      text-align: left;
      line-height: normal;
      display: none; }
      .container.asort .asorting .tekstinis span {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        display: block;
        margin-left: 20px; }
      .container.asort .asorting .tekstinis:after {
        position: absolute;
        right: -40px;
        top: 0;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 90px 0 90px 40px;
        border-color: transparent transparent transparent #292b35; }
    .container.asort .asorting .itemai {
      display: inline-block;
      float: left;
      width: calc(100% - 0px);
      padding: 0;
      margin-left: 50px; }
      .container.asort .asorting .itemai .asort-item {
        width: 33.33%; }
        .container.asort .asorting .itemai .asort-item:nth-of-type(odd) {
          margin-right: 0; }
        .container.asort .asorting .itemai .asort-item:last-of-type {
          margin-bottom: 5px; } }

@media only screen and (min-width: 1200px) {
  .container.asort .asorting {
    margin: 0;
    width: 100%; }
    .container.asort .asorting .tekstinis:after {
      border-width: 80px 0 80px 40px; }
    .container.asort .asorting .itemai {
      width: calc(100% - 200px);
      margin-left: 200px; }
  .container.autoriai .author-item {
    padding-bottom: 0px !important; } }

.authors-inner {
  margin: 60px 0; }
  .authors-inner img {
    width: 216px;
    height: 216px;
    display: inline-block;
    float: left;
    margin-right: 70px; }
  .authors-inner .authors-content {
    display: inline-block;
    float: left; }
    .authors-inner .authors-content .authors-name {
      color: #292b35;
      font: 300 25px Roboto, sans-serif;
      text-transform: uppercase;
      margin-bottom: 20px; }
    .authors-inner .authors-content .authors-info {
      color: #292b35;
      font: 300 14px Roboto, sans-serif;
      margin-bottom: 30px;
      max-width: 700px; }
    .authors-inner .authors-content .authors-info-expanded {
      display: none;
      color: #292b35;
      font: 300 14px Roboto, sans-serif;
      margin-bottom: 30px;
      max-width: 700px; }
    .authors-inner .authors-content .read-more {
      display: inline-block;
      height: 26px;
      font: 500 12px Roboto, sans-serif;
      text-transform: uppercase;
      line-height: 26px;
      cursor: pointer; }
      .authors-inner .authors-content .read-more:hover {
        color: #8a9cf6; }

.container.autorius {
  margin-top: 60px;
  padding-bottom: 20px; }
  .container.autorius .authors-item {
    height: auto;
    position: absolute;
    display: inline-block; }
    .container.autorius .authors-item img {
      display: block; }
    .container.autorius .authors-item:hover .authors-item-info {
      max-height: 500px; }
    .container.autorius .authors-item .authors-item-info {
      position: absolute;
      bottom: 0;
      max-height: 500px;
      width: 100%;
      background: rgba(255, 255, 255, 0.8);
      overflow: hidden;
      -webkit-transition: max-height 0.5s linear;
      -moz-transition: max-height 0.5s linear;
      -o-transition: max-height 0.5s linear;
      transition: max-height 0.5s linear;
      font-family: 'Roboto', sans-serif;
      color: #292b35;
      background: white;
      text-align: center; }
      .container.autorius .authors-item .authors-item-info p {
        font: 300 18px Roboto, sans-serif;
        text-transform: uppercase;
        color: #292b35; }
        .container.autorius .authors-item .authors-item-info p span {
          display: inline-block;
          width: 100%;
          margin-bottom: 10px;
          text-decoration: underline; }
        .container.autorius .authors-item .authors-item-info p img {
          display: inline-block;
          width: 47px;
          height: 32px;
          margin-top: 10px;
          border: none;
          padding: 0; }

@media only screen and (min-width: 767px) { }

@media only screen and (min-width: 1200px) {
  .container.autorius .authors-item {
    padding-bottom: 0px !important; }
    .container.autorius .authors-item .authors-item-info {
      max-height: 0px;
      background: rgba(255, 255, 255, 0.8); } }

.imgleft {
  display: none;
  position: absolute;
  opacity: 0.2;
  left: -400px;
  top: 60px; }

.imgright {
  display: none;
  position: absolute;
  opacity: 0.2;
  right: -400px;
  top: 60px; }

.perziura {
  margin-top: 60px;
  padding-bottom: 20px; }
  .perziura .info-cont {
    max-width: calc( 100% - 20px);
    margin: 0 auto;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #292b35; }
    .perziura .info-cont .tools {
      margin-top: 30px; }
      .perziura .info-cont .tools .on-right {
        float: right; }
        .perziura .info-cont .tools .on-right .tag-icon {
          width: 41px;
          height: 35px;
          background: url("../images/tag-icon.png") no-repeat center center;
          float: left;
          margin-right: 15px;
          cursor: pointer; }
          .perziura .info-cont .tools .on-right .tag-icon:hover {
            background: url("../images/tag-icon-active.png") no-repeat center center; }
          .perziura .info-cont .tools .on-right .tag-icon.active {
            background: url("../images/tag-icon-active.png") no-repeat center center; }
        .perziura .info-cont .tools .on-right .share-box {
          float: left;
          font-family: 'Roboto', sans-serif;
          font-weight: 700;
          font-size: 18px;
          color: #292b35;
          line-height: 31px;
          padding-left: 15px; }
          .perziura .info-cont .tools .on-right .share-box .go, .perziura .info-cont .tools .on-right .share-box .fa, .perziura .info-cont .tools .on-right .share-box .tw {
            display: inline-block;
            margin-left: 10px;
            position: relative;
            top: 5px; }
    .perziura .info-cont .title {
      margin-top: 45px;
      font-size: 23px; }
    .perziura .info-cont .author {
      margin-top: 15px; }
      .perziura .info-cont .author a {
        text-decoration: underline;
        color: #292b35; }
    .perziura .info-cont .description {
      margin-top: 35px;
      font-weight: 300; }
  .perziura .foto-cont {
    max-width: calc( 100% - 40px);
    margin: 0 auto;
    text-align: center;
    position: relative; }
    .perziura .foto-cont #pagrimg {
      width: 100%;
      height: auto; }
    .perziura .foto-cont #zooming:hover {
      cursor: url(../images/zoom_in_black.png), auto; }
    .perziura .foto-cont .tags {
      display: none; }
      .perziura .foto-cont .tags.forcenone {
        display: none !important; }
      .perziura .foto-cont .tags .tag {
        width: 95px;
        height: 95px;
        border: 2px solid #fff;
        position: absolute;
        z-index: 90; }
        .perziura .foto-cont .tags .tag p {
          display: none;
          width: 120px;
          height: auto;
          padding: 15px;
          background-color: rgba(255, 255, 255, 0.8);
          color: #292b35;
          font-size: 14px;
          font-weight: 300;
          font-family: 'Roboto', sans-serif;
          position: relative;
          left: 97px;
          top: -2px; }
        .perziura .foto-cont .tags .tag.first {
          top: 48px;
          left: 84px; }
        .perziura .foto-cont .tags .tag.second {
          top: 47px;
          left: 350px; }
    .perziura .foto-cont .close {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 90; }
    .perziura .foto-cont .zoom {
      position: absolute;
      z-index: 90;
      bottom: 10px;
      right: 10px;
      pointer-events: none; }
    .perziura .foto-cont .arrow {
      display: block;
      width: 10px;
      height: 31px;
      background: url("../images/arrow.png");
      background-size: contain;
      position: absolute;
      top: 45%;
      cursor: pointer;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
      .perziura .foto-cont .arrow:hover.left {
        left: -15px; }
      .perziura .foto-cont .arrow:hover.right {
        right: -15px; }
      .perziura .foto-cont .arrow.left {
        left: -15px;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg); }
      .perziura .foto-cont .arrow.right {
        right: -15px; }

@media only screen and (min-width: 450px) {
  .perziura .info-cont {
    max-width: 720px; }
  .perziura .foto-cont {
    max-width: 400px; }
    .perziura .foto-cont .arrow {
      width: 15px;
      height: 49px; }
      .perziura .foto-cont .arrow:hover.left {
        left: -22px; }
      .perziura .foto-cont .arrow:hover.right {
        right: -22px; }
      .perziura .foto-cont .arrow.left {
        left: -22px; }
      .perziura .foto-cont .arrow.right {
        right: -22px; } }

@media only screen and (min-width: 767px) {
  .perziura .foto-cont .arrow {
    width: 21px;
    height: 68px; }
    .perziura .foto-cont .arrow:hover.left {
      left: -73px; }
    .perziura .foto-cont .arrow:hover.right {
      right: -73px; }
    .perziura .foto-cont .arrow.left {
      left: -70px; }
    .perziura .foto-cont .arrow.right {
      right: -70px; } }

@media only screen and (min-width: 1200px) {
  .imgleft, .imgright {
    display: block; } }

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 34px;
  background-color: #555555;
  border-top: 1px solid #d6d8db;
  line-height: 23px; }
  .footer .footer-text {
    text-align: center; }
    .footer .footer-text p {
      display: inline-block;
      margin-left: 4px;
      font: 400 14px Roboto;
      color: #fff; }
      .footer .footer-text p:last-child {
        margin-right: 5px; }
      .footer .footer-text p a {
        color: #fff; }
        .footer .footer-text p a:hover {
          text-decoration: underline; }

@media only screen and (min-width: 450px) {
  .footer {
    height: 64px;
    line-height: 32px; } }

@media only screen and (min-width: 767px) {
  .footer {
    height: 34px;
    line-height: 34px; } }

@media only screen and (min-width: 1200px) {
  .footer img {
    display: inline-block; }
  .footer .footer-text p {
    margin-left: 10px;
    margin-right: 0; } }

.headeris {
  width: 100%;
  height: 34px;
  background-color: #555555;
  position: fixed;
  top: 0;
  z-index: 999; }
  .headeris .logo-left {
    display: none; }
  .headeris > .container {
    padding-top: 10px;
    max-width: 100%; }
  .headeris .logo-center {
    display: inline-block;
    position: relative;
    top: -8px;
    left: 15px;
    width: 219px;
    height: 30px;
    background: url("../images/logo-center.png") no-repeat;
    background-size: cover; }
    .headeris .logo-center:hover {
      background: url("../images/logo-center-hover.png") no-repeat;
      background-size: cover; }
  .headeris .hambur {
    display: inline-block;
    float: right;
    margin-right: 20px;
    cursor: pointer; }
    .headeris .hambur img {
      max-height: 15px; }
  .headeris .mobtep {
    display: inline-block;
    float: right;
    margin-right: 10px;
    cursor: pointer; }
    .headeris .mobtep img {
      max-height: 15px; }
  .headeris .filter {
    height: 0px;
    min-height: 0;
    overflow: hidden;
    background-color: #666666;
    padding: 0 20px;
    text-align: left; }
    .headeris .filter .kaire span, .headeris .filter .desine span {
      display: block;
      text-align: center;
      font: 400 14px Roboto;
      padding: 10px 0;
      text-transform: uppercase; }
    .headeris .filter.expanded {
      min-height: 100vh;
      position: relative;
      overflow-y: auto;
      margin-top: -10px; }
    .headeris .filter .filter-item {
      display: block;
      height: 30px;
      color: #fff;
      font: 400 14px Roboto;
      text-transform: uppercase;
      line-height: 30px; }
  .headeris .search-bar {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.9); }
    .headeris .search-bar div h2 {
      text-align: center;
      height: 20px;
      width: 100%;
      font: 700 14px Roboto;
      text-transform: uppercase;
      padding: 10px 0; }
    .headeris .search-bar div a {
      display: block;
      font: 400 14px Roboto;
      color: #292b35;
      padding: 5px 5%; }
      .headeris .search-bar div a:hover {
        color: #8a9cf6; }
    .headeris .search-bar form {
      width: 100%;
      height: 40px;
      border-bottom: 2px solid #555555;
      position: relative; }
      .headeris .search-bar form .exitsrch {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer; }
        .headeris .search-bar form .exitsrch img {
          max-width: 20px; }
      .headeris .search-bar form input {
        width: 75%;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.5);
        border: none;
        padding: 0 15% 0 10%;
        outline: none !important;
        font: italic 500 19px Roboto, sans-serif;
        color: #555555 !important; }
  .headeris .meniu {
    height: 0;
    min-height: 0;
    overflow: hidden;
    background-color: #666666;
    padding: 0 20px;
    text-align: left; }
    .headeris .meniu a {
      display: block;
      width: 100%;
      border-bottom: 1px solid #b2b3b8;
      height: 40px;
      color: #fff;
      font: 400 13px Roboto;
      text-transform: uppercase;
      line-height: 40px; }
      .headeris .meniu a.menu-about span, .headeris .meniu a.menu-author span, .headeris .meniu a.menu-search span {
        padding-left: 40px; }
      .headeris .meniu a.menu-author {
        background: url("../images/icon-2.png") no-repeat 1% 50%;
        background-size: 20px 20px; }
        .headeris .meniu a.menu-author:hover {
          background: url("../images/icon-2_hover.png") no-repeat 1% 50%;
          background-size: 20px 20px; }
      .headeris .meniu a.menu-about {
        background: url("../images/icon-3.png") no-repeat 2% 50%;
        background-size: 10px 20px; }
        .headeris .meniu a.menu-about:hover {
          background: url("../images/icon-3_hover.png") no-repeat 2% 50%;
          background-size: 10px 20px; }
      .headeris .meniu a.menu-search {
        background: url("../images/icon-4.png") no-repeat 1% 50%;
        background-size: 20px 20px; }
        .headeris .meniu a.menu-search:hover {
          background: url("../images/icon-4_hover.png") no-repeat 1% 50%;
          background-size: 20px 20px; }
      .headeris .meniu a span {
        cursor: pointer; }
      .headeris .meniu a:nth-child(1) {
        display: none; }
      .headeris .meniu a.lng span:first-child {
        display: none; }
      .headeris .meniu a:last-child {
        border-bottom: none; }
    .headeris .meniu.expanded {
      min-height: 100vh;
      position: relative;
      overflow-y: auto;
      margin-top: -10px; }
  .headeris .filter-call.saukt {
    position: relative; }
    .headeris .filter-call.saukt.mobtep:before {
      top: -6px;
      right: -6px;
      text-align: center; }
    .headeris .filter-call.saukt:before {
      width: 10px;
      height: 10px;
      position: absolute;
      top: 2px;
      right: 2px;
      background-color: #8a9cf6;
      content: '!';
      font: 700 9px Roboto;
      color: #fff !important; }

@media only screen and (min-width: 450px) { }

@media only screen and (min-width: 767px) {
  .filter-item:before {
    bottom: 40%; }
  .headeris {
    text-align: center; }
    .headeris .search-bar {
      display: none;
      width: 300px;
      height: 40px;
      position: absolute;
      right: 76px;
      top: 32px;
      border: 2px solid #555555;
      z-index: 99; }
      .headeris .search-bar div {
        background-color: #fff;
        border: 2px solid #555555;
        width: 300px;
        border-bottom: none;
        border-top: none;
        position: relative;
        left: -2px; }
        .headeris .search-bar div:last-of-type {
          border-bottom: 2px solid #555555; }
        .headeris .search-bar div h2 {
          text-align: center;
          height: 20px;
          width: 100%;
          font: 700 14px Roboto;
          text-transform: uppercase;
          padding: 5px 0; }
        .headeris .search-bar div a {
          display: block;
          font: 400 14px Roboto;
          color: #292b35;
          padding: 5px 5%;
          text-align: left; }
      .headeris .search-bar form {
        width: 100%;
        height: 100%; }
        .headeris .search-bar form .exitsrch {
          display: none; }
        .headeris .search-bar form input {
          width: 80%;
          height: 100%;
          background-color: #fff;
          border: none;
          padding: 0 10%;
          outline: none !important;
          font: italic 500 19px Roboto, sans-serif;
          color: #292b35 !important; }
    .headeris .logo-left {
      display: inline-block;
      position: absolute;
      left: 10px;
      top: 2px;
      max-height: 30px; }
    .headeris > .container {
      padding-top: 0px;
      max-width: 780px; }
    .headeris .logo-center {
      top: 2px; }
    .headeris .hambur, .headeris .mobtep {
      display: none; }
    .headeris .filter-call, .headeris #search {
      cursor: pointer; }
    .headeris .filter {
      height: 0px;
      min-height: 0;
      overflow: hidden;
      background-color: #fff;
      text-align: left;
      width: auto;
      border-top: none; }
      .headeris .filter .kaire, .headeris .filter .desine {
        width: 33%;
        float: left;
        display: inline-block; }
        .headeris .filter .kaire .filter-item, .headeris .filter .desine .filter-item {
          margin: 10px 0; }
        .headeris .filter .kaire span, .headeris .filter .desine span {
          display: block;
          text-align: center;
          font: 400 12px Roboto;
          padding: 10px 0;
          text-transform: uppercase; }
      .headeris .filter.expanded {
        height: auto;
        min-height: 0;
        position: absolute;
        top: 44px;
        right: 171px;
        border: 1px solid #e6e8e9; }
      .headeris .filter .filter-item {
        display: block;
        height: auto;
        min-height: 30px;
        color: #292b35;
        font: 400 14px Roboto;
        text-transform: uppercase;
        line-height: normal; }
    .headeris .meniu {
      height: auto;
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
      font-family: Roboto, sans-serif;
      font-weight: 700;
      font-size: 12px;
      z-index: 2;
      background-color: transparent;
      padding: 0;
      text-align: center; }
      .headeris .meniu a {
        float: left;
        color: #fefefe;
        display: inline-block;
        width: 34px;
        height: 34px;
        line-height: 34px;
        border-bottom: none; }
        .headeris .meniu a.menu-filter {
          background: url("../images/icon-1.png") no-repeat 50% 50%;
          background-size: 15px; }
          .headeris .meniu a.menu-filter:hover {
            background: url("../images/icon-1_hover.png") no-repeat 50% 50%;
            background-size: 15px; }
        .headeris .meniu a.menu-author {
          background: url("../images/icon-2.png") no-repeat 50% 50%;
          background-size: 15px 15px; }
          .headeris .meniu a.menu-author:hover {
            background: url("../images/icon-2_hover.png") no-repeat 50% 50%;
            background-size: 15px 15px; }
        .headeris .meniu a.menu-about {
          background: url("../images/icon-3.png") no-repeat 50% 50%;
          background-size: 7px 15px; }
          .headeris .meniu a.menu-about:hover {
            background: url("../images/icon-3_hover.png") no-repeat 50% 50%;
            background-size: 7px 15px; }
        .headeris .meniu a.menu-search {
          background: url("../images/icon-4.png") no-repeat 50% 50%;
          background-size: 15px 15px; }
          .headeris .meniu a.menu-search:hover {
            background: url("../images/icon-4_hover.png") no-repeat 50% 50%;
            background-size: 15px 15px; }
        .headeris .meniu a:first-child {
          display: inline-block; }
        .headeris .meniu a span {
          display: none; }
        .headeris .meniu a.lng span:first-child {
          display: inline-block; }
        .headeris .meniu a:last-child {
          display: none; }
        .headeris .meniu a:hover {
          color: #8a9cf6; }
        .headeris .meniu a:last-child {
          margin-right: 0; } }

@media only screen and (min-width: 1200px) {
  .headeris .logo-left {
    left: 0; }
  .headeris > .container {
    max-width: 1180px; }
  .headeris .logo-center img {
    margin-left: 0px; } }

.container.apie {
  margin-top: 60px;
  padding-bottom: 20px; }
  .container.apie h3 {
    display: none; }
  .container.apie .textwrap {
    margin: 0 5%;
    width: 90%;
    font: 300 14px Roboto;
    color: #292b35;
    border-bottom: 1px solid #5e6068; }
    .container.apie .textwrap p {
      margin-bottom: 20px; }
      .container.apie .textwrap p.bolder {
        font-weight: 500; }
      .container.apie .textwrap p.item {
        margin-left: 30px;
        margin-bottom: 5px;
        position: relative; }
        .container.apie .textwrap p.item:before {
          content: "//";
          position: absolute;
          left: -30px;
          top: 0; }
      .container.apie .textwrap p:last-of-type {
        margin-bottom: 20px; }
    .container.apie .textwrap .textleft {
      width: 100%;
      height: auto;
      float: left; }
    .container.apie .textwrap .textright {
      width: 100%;
      height: auto;
      float: left; }
  .container.apie .zmones {
    margin: 0 5%;
    width: 90%;
    border-bottom: 1px solid #5e6068; }
    .container.apie .zmones .zmogus {
      display: block;
      width: 175px;
      margin: 50px auto 0;
      position: relative;
      color: #292b35; }
      .container.apie .zmones .zmogus img {
        max-width: 175px;
        max-height: 175px; }
      .container.apie .zmones .zmogus:last-of-type {
        margin-bottom: 40px; }
      .container.apie .zmones .zmogus .name {
        margin-top: 10px;
        font: 400 14px Roboto; }
      .container.apie .zmones .zmogus .pareigos {
        font: 300 14px Roboto; }
      .container.apie .zmones .zmogus.valdyba:before {
        position: absolute;
        content: 'Fondo valdyba';
        top: -40px;
        left: 0;
        font: 400 20px Roboto; }
      .container.apie .zmones .zmogus.administracija:before {
        position: absolute;
        content: 'Fondo administracija';
        top: -40px;
        left: 0;
        font: 400 18px Roboto; }
  .container.apie .kontaktai {
    margin: 40px 5%;
    width: 90%;
    border-bottom: 1px solid #5e6068;
    font: 400 14px Roboto; }
    .container.apie .kontaktai .kontaktas {
      margin-bottom: 20px; }
      .container.apie .kontaktai .kontaktas:last-of-type {
        padding-bottom: 20px; }
      .container.apie .kontaktai .kontaktas:first-of-type {
        font-weight: 700; }
  .container.apie .remejai {
    margin: 40px 5%;
    width: 90%; }
    .container.apie .remejai h2 {
      font: 400 16px Roboto;
      color: #292b35;
      margin-bottom: 20px; }
    .container.apie .remejai .remejas {
      margin: 20px auto 0;
      text-align: center; }

@media only screen and (min-width: 450px) {
  .container.apie .zmones .zmogus {
    float: left; }
    .container.apie .zmones .zmogus:nth-of-type(even) {
      float: right; }
  .container.apie .kontaktai .kontaktas {
    display: inline-block;
    width: 48%;
    float: left; }
  .container.apie .remejai .remejas {
    display: inline-block;
    width: 50%;
    float: left; } }

@media only screen and (min-width: 767px) {
  .container.apie h3 {
    display: block;
    margin-left: 5%;
    margin-bottom: 20px;
    font: 300 30px Roboto;
    color: #292b35; }
  .container.apie .textwrap .textleft {
    display: inline-block;
    width: 49%;
    float: left; }
  .container.apie .textwrap .textright {
    display: inline-block;
    width: 49%;
    float: right; }
  .container.apie .zmones .zmogus {
    width: 25%;
    float: left !important; } }

@media only screen and (min-width: 1200px) {
  .container.apie .kontaktai .kontaktas {
    width: 25%; }
  .container.apie .zmones .zmogus img {
    max-width: 220px;
    max-height: 220px; }
  .container.apie .remejai h2 {
    float: left;
    display: inline-block;
    margin-bottom: 0; }
  .container.apie .remejai .remejas {
    width: auto;
    margin: 0;
    margin-left: 40px; } }
