.container {
  &.apie {
    margin-top: 60px;
    padding-bottom: 20px;

    h3 {
      display: none;
    }

    .textwrap {
      margin: 0 5%;
      width: 90%;
      font: 300 14px Roboto;
      color: #292b35;
      border-bottom: 1px solid #5e6068;

      p {
        margin-bottom: 20px;

        &.bolder {
          font-weight: 500;
        }

        &.item {
          margin-left: 30px;
          margin-bottom: 5px;
          position: relative;

          &:before {
            content: "//";
            position: absolute;
            left: -30px;
            top: 0;
          }
        }

        &:last-of-type {
          margin-bottom: 20px;
        }
      }

      .textleft {
        width: 100%;
        height: auto;
        float: left;
      }

      .textright {
        width: 100%;
        height: auto;
        float: left;
      }
    }

    .zmones {
      margin: 0 5%;
      width: 90%;
      border-bottom: 1px solid #5e6068;

      .zmogus {
        display: block;
        width: 175px;
        margin: 50px auto 0;
        position: relative;
        color: #292b35;

        img {
          max-width: 175px;
          max-height: 175px;
        }

        &:last-of-type {
          margin-bottom: 40px;
        }

        .name {
          margin-top: 10px;
          font: 400 14px Roboto;
        }

        .pareigos {
          font: 300 14px Roboto;
        }

        &.valdyba {
          &:before {
            position: absolute;
            content: 'Fondo valdyba';
            top: -40px;
            left: 0;
            font: 400 20px Roboto;
          }
        }

        &.administracija {
          &:before {
            position: absolute;
            content: 'Fondo administracija';
            top: -40px;
            left: 0;
            font: 400 18px Roboto;
          }
        }
      }
    }

    .kontaktai {
      margin: 40px 5%;
      width: 90%;
      border-bottom: 1px solid #5e6068;
      font: 400 14px Roboto;

      .kontaktas {
        margin-bottom: 20px;

        &:last-of-type {
          padding-bottom: 20px;
        }

        &:first-of-type {
          font-weight: 700;
        }
      }
    }

    .remejai {
      margin: 40px 5%;
      width: 90%;

      h2 {
        font: 400 16px Roboto;
        color: #292b35;
        margin-bottom: 20px;
      }

      .remejas {
        margin: 20px auto 0;
        text-align: center;
      }
    }
  }
}

@media only screen and (min-width:450px) {
  .container {
    &.apie {

      .zmones {
        .zmogus {
          float: left;

          &:nth-of-type(even) {
            float: right;
          }
        }
      }

      .kontaktai {
        .kontaktas {
          display: inline-block;
          width: 48%;
          float: left;
        }
      }

      .remejai {
        .remejas {
          display: inline-block;
          width: 50%;
          float: left;
        }
      }
    }
  }
}


@media only screen and (min-width:767px){
  .container {
    &.apie {

      h3 {
        display: block;
        margin-left: 5%;
        margin-bottom: 20px;
        font: 300 30px Roboto;
        color: #292b35;
      }

      .textwrap {
        .textleft {
          display: inline-block;
          width: 49%;
          float: left;
        }

        .textright {
          display: inline-block;
          width: 49%;
          float: right;
        }
      }

      .zmones {
        .zmogus {
          width: 25%;
          float: left !important;
        }
      }
    }
  }
}


@media only screen and (min-width:1200px){
  .container {
    &.apie {
      .kontaktai {
        .kontaktas {
          width: 25%;
        }
      }

      .zmones {

        .zmogus {
          img {
            max-width: 220px;
            max-height: 220px;
          }
        }
      }

      .remejai {

        h2 {
          float: left;
          display: inline-block;
          margin-bottom: 0;
        }
        .remejas {
          width: auto;
          margin: 0;
          margin-left: 40px;
        }
      }
    }
  }
}


