.authors-inner {
  margin: 60px 0;

  img {
    width: 216px;
    height: 216px;
    display: inline-block;
    float: left;
    margin-right: 70px;
  }

  .authors-content {
    display: inline-block;
    float: left;

    .authors-name {
      color: #292b35;
      font: 300 25px Roboto, sans-serif;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    .authors-info {
      color: #292b35;
      font: 300 14px Roboto, sans-serif;
      margin-bottom: 30px;
      max-width: 700px;
    }

    .authors-info-expanded {
      display: none;
      color: #292b35;
      font: 300 14px Roboto, sans-serif;
      margin-bottom: 30px;
      max-width: 700px;
    }

    .read-more {
      display: inline-block;
      height: 26px;
      font: 500 12px Roboto, sans-serif;
      text-transform: uppercase;
      line-height: 26px;
      cursor: pointer;

      &:hover {
        color: #8a9cf6;
      }
    }
  }
}

.container {
  &.autorius {
    margin-top: 60px;
    padding-bottom: 20px;

    .authors-item {
      height: auto;
      position: absolute;
      display: inline-block;

      img {
        display: block;
      }

      &:hover {
        .authors-item-info {
          max-height: 500px;
        }
      }

      .authors-item-info {
        position: absolute;
        bottom: 0;
        max-height: 500px;
        width: 100%;
        background: rgba(255, 255, 255, 0.8);
        overflow: hidden;
        @include transition(max-height, 0.5s, linear);
        font-family: 'Roboto', sans-serif;
        color: #292b35;
        background: rgba(255, 255, 255, 1);
        text-align: center;

        p {
          font: 300 18px Roboto, sans-serif;
          text-transform: uppercase;
          color: #292b35;

          span {
//            border-bottom: solid 2px #292b35;
            display: inline-block;
//            padding-bottom: 2px;
            width: 100%;
            margin-bottom: 10px;
            text-decoration: underline;
          }

          img {
            display: inline-block;
            width: 47px;
            height: 32px;
            margin-top: 10px;
            border: none;
            padding: 0;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 767px) {

}

@media only screen and (min-width: 1200px) {
  .container {
    &.autorius {
      .authors-item {
        padding-bottom: 0px !important;

        .authors-item-info {
          max-height: 0px;
          background: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
}