.container {
  &.asort {
    margin-top: 60px;

    .asorting {
      margin: 0 5%;
      width: 90%;
      height: auto;
      background: url("../images/bg-darker.jpg");
      font: 500 12px Roboto;
      text-transform: uppercase;

      .tekstinis {
        display: block;
        float: left;
        width: 100%;
        height: 40px;
        background-color: #292b35;
        position: relative;
        color: #fff;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
      }

      .itemai {
        display: none;
        width: 90%;
        padding: 0 5%;

        .asort-item {
          width: 48%;
          display: inline-block;
          float: left;
          margin-top: 5px;

          &:last-of-type {
            margin-bottom: 5px;
          }

          &:nth-of-type(odd) {
            margin-right: 2%;
          }

          &.active {
            a {
              color: #8a9cf6;
            }
          }

          a {
            color: #292b35;
            display: block;
            width: 100%;
            height: 100%;

            &:hover {
              color: #8a9cf6;
            }
          }
        }
      }
    }
  }

  &.autoriai {
    margin-top: 20px;
    padding-bottom: 20px;

    .author-item {
      width: 150px;
      height: 150px;
      position: absolute;

      img {
        width: 150px;
        height: 150px;
      }

      .author-item-info {
        position: absolute;
        bottom: 0;
        max-height: 140px;
        width: 100%;
        background: rgba(255, 255, 255, 0.8);
        color: #292b35;

        span {
          display: block;
          padding: 10px 5%;
          font: 400 12px Roboto, sans-serif;
          text-transform: uppercase;
        }
      }
    }

  }
}

.sorting {
  margin: 30px 0;

  .sort-item {
    height: 32px;
    width: auto;
    border: 2px solid #292b35;
    display: inline-block;
    float: left;
    line-height: 32px;

    &:hover {
      border-color: #8a9cf6;

      a {
        color: #8a9cf6 !important;
      }
    }

    a {
      height: 100%;
      width: auto;
      padding: 0 10px;
      color: #292b35;
      text-decoration: none;
      font: 500 16px Roboto, sans-serif;
      text-transform: uppercase;
    }
  }
}

@media only screen and (min-width: 767px) {
  .container {
    &.asort {

      .asorting {
        margin: 0 5%;
        width: 90%;

        .tekstinis {
          display: none;
          pointer-events: none;
          cursor: default;
          display: inline-block;
          width: 100px;
          height: 100%;
          margin-right: 100px;
          text-align: left;
          line-height: normal;
          display: none;

          span {
            @include vertical-align();
            display: block;
            margin-left: 20px;
          }

          &:after {
            position: absolute;
            right: -40px;
            top: 0;
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 90px 0 90px 40px;
            border-color: transparent transparent transparent #292b35;
          }
        }

        .itemai {
          display: inline-block;
          float: left;
          width: calc(100% - 0px);
          padding: 0;
          margin-left: 50px;

          .asort-item {
            width: 33.33%;

            &:nth-of-type(odd) {
              margin-right: 0;
            }

            &:last-of-type {
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    &.asort {
      .asorting {
        margin: 0;
        width: 100%;

        .tekstinis {
          &:after {
            border-width: 80px 0 80px 40px;
          }
        }

        .itemai {
          width: calc(100% - 200px);
          margin-left: 200px;
        }
      }
    }

    &.autoriai {

      .author-item {
        padding-bottom: 0px !important;
      }
    }
  }
}
