html {
  position: relative;
  min-height: 100%;
}

body {
  background: url("../images/bg.jpg");
  overflow-x: hidden;
  margin: 0 0 90px;
}

.container {
  max-width: 420px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

// Checkbox style
.filter-item {
  cursor: pointer;
  position: relative;
  padding-left: 25px;
}

.filter-item:before {
  content: "";
  display: inline-block;

  width: 11px;
  height: 11px;
  border: 3px solid #000;

  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 6px;
  background-color: #fff;
}

input[type=checkbox]:checked + .filter-item:before {
  background-color: #8a9cf6;
}

input[type=checkbox] {
  display: none;
}

.frmbtn {
  display: inline-block;
  width: 50%;
  float: left;
  height: 60px;
  background-color: #292b35;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font: 400 14px Roboto;
  padding: 0;
  white-space: normal;
  cursor: pointer;

  &:last-child {
    -webkit-box-shadow: inset 1px 0px 0px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow:    inset 1px 0px 0px 0px rgba(255, 255, 255, 1);
    box-shadow:         inset 1px 0px 0px 0px rgba(255, 255, 255, 1);
  }
}

//

@media only screen and (min-width:450px) {
  body {
    margin: 0 0 65px;
  }

  .container {
    max-width: 480px;
  }
}

@media only screen and (min-width:767px){
  body {
    margin: 0 0 40px;
  }

  .container {
    max-width: 780px;
  }
}

@media only screen and (min-width:1200px){
  .container {
    max-width: 1180px;
  }
}

