.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 34px;
  background-color: #555555;
  border-top: 1px solid #d6d8db;
  line-height: 23px;

  .footer-text {
    text-align: center;

    p {
      display: inline-block;
      margin-left: 4px;
      font: 400 14px Roboto;
      color: #fff;

      &:last-child {
        margin-right: 5px;
      }

      a {
        color: #fff;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}


@media only screen and (min-width:450px) {
  .footer {
    height: 64px;
    line-height: 32px;
  }
}

@media only screen and (min-width:767px) {
  .footer {
    height: 34px;
    line-height: 34px;
  }
}

@media only screen and (min-width:1200px) {
  .footer {
    img {
      display: inline-block;
    }

    .footer-text {

      p {
        margin-left: 10px;
        margin-right: 0;
      }
    }
  }
}
