.container {
  &.grid {
    margin-top: 50px;
    padding-bottom: 20px;

    .item {
      position: absolute;
      display: inline-block;

      img {
        display: block;
      }

      &:hover {
        .item-info {
          max-height: 500px;
        }
      }

      .item-info {
        position: absolute;
        bottom: 0px;
        width: 100%;
        max-height: 500px;
        overflow: hidden;
        @include transition(max-height, 0.8s, ease-in-out);
        font-family: 'Roboto', sans-serif;
        color: #292b35;
        background: rgba(255, 255, 255, 1);

        h3 {
          margin: 24px 24px 15px;
          font-size: 22px;
          text-transform: uppercase;
          max-width: 80%;
          font-weight: 300;
          word-break: break-word;
        }

        p {
          font-size: 12px;
          margin: 0 24px 24px;
        }
      }
    }
  }
}



.container {
  .pagination {
    display: none;
  }
}

.hp-posts-wrapper, .artists-grid-wrapper {
  .fader {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 10px;
    left: 0;
    background: rgba(255, 255, 255, 0.541176);
  }
}

#infscr-loading {
  position: absolute;
  bottom: -80px;
  margin-left: auto;
  margin-right: auto;
  left: 0 !important;
  right: 0 !important;
  top: auto !important;
  text-align: center;
}

@media only screen and (min-width: 450px) {

}

@media only screen and (min-width: 767px) {
  .container {
    &.grid {
      margin-top: 60px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    &.grid {

      .item {
        padding-bottom: 0px !important;

        .item-info {
          max-height: 0px;
          background: url("../images/eye.png") no-repeat 97% 5% rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
}