.headeris {
  width: 100%;
  height: 34px;
  background-color: #555555;
  position: fixed;
  top: 0;
  z-index: 999;

  .logo-left {
    display: none;
  }

  >.container {
    padding-top: 10px;
    max-width: 100%;
  }

  .logo-center {
    display: inline-block;
    position: relative;
    top: -8px;
    left: 15px;
    width: 219px;
    height: 30px;
    background: url("../images/logo-center.png") no-repeat;
    background-size: cover;

    &:hover {
      background: url("../images/logo-center-hover.png") no-repeat;
      background-size: cover;
    }
  }

  .hambur {
    display: inline-block;
    float: right;
    margin-right: 20px;
    cursor: pointer;

    img {
      max-height: 15px;
    }
  }

  .mobtep {
    display: inline-block;
    float: right;
    margin-right: 10px;
    cursor: pointer;

    img {
      max-height: 15px;
    }
  }

  .filter {
    height: 0px;
    min-height: 0;
    overflow: hidden;
    background-color: #666666;
    padding: 0 20px;
    text-align: left;

    .kaire,
    .desine {

      span {
        display: block;
        text-align: center;
        font: 400 14px Roboto;
        padding: 10px 0;
        text-transform: uppercase;
      }
    }

    &.expanded {
      min-height: 100vh;
      position: relative;
      overflow-y: auto;
      margin-top: -10px;
    }

    .filter-item {
      display: block;
      height: 30px;
      color: #fff;
      font: 400 14px Roboto;
      text-transform: uppercase;
      line-height: 30px;
    }
  }

  .search-bar {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 99;
    background-color: rgba(255,255,255,0.90);

    div {
      h2 {
        text-align: center;
        height: 20px;
        width: 100%;
        font: 700 14px Roboto;
        text-transform: uppercase;
        padding: 10px 0;
      }

      a {
        display: block;
        font: 400 14px Roboto;
        color: #292b35;
        padding: 5px 5%;

        &:hover {
          color: #8a9cf6;
        }
      }
    }

    form {
      width: 100%;
      height: 40px;
      border-bottom: 2px solid #555555;
      position: relative;

      .exitsrch {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;

        img {
          max-width: 20px;
        }
      }

      input {
        width: 75%;
        height: 40px;
        background-color: rgba(255,255,255,0.50);
        border: none;
        padding: 0 15% 0 10%;
        outline: none !important;
        font: italic 500 19px Roboto, sans-serif;
        color: #555555 !important;
      }
    }
  }

  .meniu {
    height: 0;
    min-height: 0;
    overflow: hidden;
    background-color: #666666;
    padding: 0 20px;
    text-align: left;

    a {
      display: block;
      width: 100%;
      border-bottom: 1px solid #b2b3b8;
      height: 40px;
      color: #fff;
      font: 400 13px Roboto;
      text-transform: uppercase;
      line-height: 40px;

      &.menu-about,
      &.menu-author,
      &.menu-search {
        span {
          padding-left: 40px;
        }
      }

      &.menu-author {
        background: url("../images/icon-2.png") no-repeat 1% 50%;
        background-size: 20px 20px;
        &:hover {
          background: url("../images/icon-2_hover.png") no-repeat 1% 50%;
          background-size: 20px 20px;
        }
      }

      &.menu-about {
        background: url("../images/icon-3.png") no-repeat 2% 50%;
        background-size: 10px 20px;
        &:hover {
          background: url("../images/icon-3_hover.png") no-repeat 2% 50%;
          background-size: 10px 20px;
        }
      }

      &.menu-search {
        background: url("../images/icon-4.png") no-repeat 1% 50%;
        background-size: 20px 20px;
        &:hover {
          background: url("../images/icon-4_hover.png") no-repeat 1% 50%;
          background-size: 20px 20px;
        }
      }

      span {
        cursor: pointer;
      }

      &:nth-child(1) {
        display: none;
      }

      &.lng {
        span {
          &:first-child {
            display: none;
          }
        }
      }

      &:last-child {
        border-bottom: none;
      }
    }

    &.expanded {
      min-height: 100vh;
      position: relative;
      overflow-y: auto;
      margin-top: -10px;
    }
  }

  .filter-call {
    &.saukt {
      position: relative;

      &.mobtep {
        &:before {
          top: -6px;
          right: -6px;
          text-align: center;
        }
      }

      &:before {
        width: 10px;
        height: 10px;
        position: absolute;
        top: 2px;
        right: 2px;
        background-color: #8a9cf6;
        content: '!';
        font: 700 9px Roboto;
        color: #fff !important;
      }
    }
  }
}

@media only screen and (min-width:450px) {

}

@media only screen and (min-width:767px) {
  .filter-item:before {
    bottom: 40%;
  }

  .headeris {
    text-align: center;

    .search-bar {
      display: none;
      width: 300px;
      height: 40px;
      position: absolute;
      right: 76px;
      top: 32px;
      border: 2px solid #555555;
      z-index: 99;

      div {
        background-color: #fff;
        border: 2px solid #555555;
        width: 300px;
        border-bottom: none;
        border-top: none;
        position: relative;
        left: -2px;

        &:last-of-type {
          border-bottom: 2px solid #555555;
        }

        h2 {
          text-align: center;
          height: 20px;
          width: 100%;
          font: 700 14px Roboto;
          text-transform: uppercase;
          padding: 5px 0;
        }

        a {
          display: block;
          font: 400 14px Roboto;
          color: #292b35;
          padding: 5px 5%;
          text-align: left;
        }
      }

      form {
        width: 100%;
        height: 100%;

        .exitsrch {display: none}

        input {
          width: 80%;
          height: 100%;
          background-color: #fff;
          border: none;
          padding: 0 10%;
          outline: none !important;
          font: italic 500 19px Roboto, sans-serif;
          color: #292b35 !important;
        }
      }
    }

    .logo-left {
      display: inline-block;
      position: absolute;
      left: 10px;
      top: 2px;
      max-height: 30px;
    }

    >.container {
      padding-top: 0px;
      max-width: 780px;
    }

    .logo-center {
      top: 2px;
    }

    .hambur,
    .mobtep {display: none}

    .filter-call,
    #search {cursor: pointer}

    .filter {
      height: 0px;
      min-height: 0;
      overflow: hidden;
      background-color: #fff;
      text-align: left;
      width: auto;
      border-top: none;

      .kaire,
      .desine {
        width: 33%;
        float: left;
        display: inline-block;

        .filter-item {
          margin: 10px 0;
        }

        span {
          display: block;
          text-align: center;
          font: 400 12px Roboto;
          padding: 10px 0;
          text-transform: uppercase;
        }
      }

      &.expanded {
        height: auto;
        min-height: 0;
        position: absolute;
        top: 44px;
        right: 171px;
        border: 1px solid #e6e8e9;
      }

      .filter-item {
        display: block;
        height: auto;
        min-height: 30px;
        color: #292b35;
        font: 400 14px Roboto;
        text-transform: uppercase;
        line-height: normal;
      }
    }
    .meniu {
      height: auto;
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
      font-family: Roboto, sans-serif;
      font-weight: 700;
      font-size: 12px;
      z-index: 2;
      background-color: transparent;
      padding: 0;
      text-align: center;

      a {
        float: left;
        color: #fefefe;
        display: inline-block;
        width: 34px;
        height: 34px;
        line-height: 34px;
        border-bottom: none;

        &.menu-filter {
          background: url("../images/icon-1.png") no-repeat 50% 50%;
          background-size: 15px;
          &:hover {
            background: url("../images/icon-1_hover.png") no-repeat 50% 50%;
            background-size: 15px;
          }
        }

        &.menu-author {
          background: url("../images/icon-2.png") no-repeat 50% 50%;
          background-size: 15px 15px;
          &:hover {
            background: url("../images/icon-2_hover.png") no-repeat 50% 50%;
            background-size: 15px 15px;
          }
        }

        &.menu-about {
          background: url("../images/icon-3.png") no-repeat 50% 50%;
          background-size: 7px 15px;
          &:hover {
            background: url("../images/icon-3_hover.png") no-repeat 50% 50%;
            background-size: 7px 15px;
          }
        }

        &.menu-search {
          background: url("../images/icon-4.png") no-repeat 50% 50%;
          background-size: 15px 15px;
          &:hover {
            background: url("../images/icon-4_hover.png") no-repeat 50% 50%;
            background-size: 15px 15px;
          }
        }

        &:first-child {
          display: inline-block;
        }

        span {
          display: none;
        }

        &.lng {
          span {
            &:first-child {
              display: inline-block;
            }
          }
        }

        &:last-child {
          display: none;
        }

        &:hover {
          color: #8a9cf6;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

@media only screen and (min-width:1200px) {
  .headeris {
    .logo-left {
      left: 0;
    }

    >.container {
      max-width: 1180px;
    }

    .logo-center {
      img {
        margin-left: 0px;
      }
    }
  }
}