.imgleft {
  display: none;
  position: absolute;
  opacity: 0.2;
  left: -400px;
  top: 60px;
}
.imgright {
  display: none;
  position: absolute;
  opacity: 0.2;
  right: -400px;
  top: 60px;
}

.perziura {
  margin-top: 60px;
  padding-bottom: 20px;

  .info-cont {
    max-width: calc( 100% - 20px );
    margin: 0 auto;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #292b35;

    .tools {
      margin-top: 30px;

      .on-right {
        float: right;

        .tag-icon {
          width: 41px;
          height: 35px;
          background: url("../images/tag-icon.png") no-repeat center center;
          float: left;
          margin-right: 15px;
          cursor: pointer;

          &:hover {
            background: url("../images/tag-icon-active.png") no-repeat center center;
          }

          &.active {
            background: url("../images/tag-icon-active.png") no-repeat center center;
          }
        }

        .share-box {
          float: left;
          font-family: 'Roboto', sans-serif;
          font-weight: 700;
          font-size: 18px;
          color: #292b35;
          line-height: 31px;
          padding-left: 15px;

          .go,
          .fa,
          .tw {
            display: inline-block;
            margin-left: 10px;
            position: relative;
            top: 5px;
          }
        }
      }
    }

    .title {
      margin-top: 45px;
      font-size: 23px;
    }

    .author {
      margin-top: 15px;

      a {
        text-decoration: underline;
        color: rgb(41, 43, 53);
      }
    }

    .description {
      margin-top: 35px;
      font-weight: 300;
    }
  }

  .foto-cont {
    max-width: calc( 100% - 40px );
    margin: 0 auto;
    text-align: center;
    position: relative;

    #pagrimg {
      width: 100%;
      height: auto;
    }

    #zooming {
      &:hover {
        cursor: url(../images/zoom_in_black.png), auto;
      }
    }

    .tags {
      display: none;

      &.forcenone {
        display: none !important;
      }

      .tag {
        width: 95px;
        height: 95px;
        border: 2px solid #fff;
        position: absolute;
        z-index: 90;

        p {
          display: none;
          width: 120px;
          height: auto;
          padding: 15px;
          background-color: rgba(255,255,255,0.8);
          color: #292b35;
          font-size: 14px;
          font-weight: 300;
          font-family: 'Roboto', sans-serif;
          position: relative;
          left: 97px;
          top: -2px;
        }

        &.first {
          top: 48px;
          left: 84px;
        }

        &.second {
          top: 47px;
          left: 350px;
        }
      }
    }

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 90;
    }

    .zoom {
      position: absolute;
      z-index: 90;
      bottom: 10px;
      right: 10px;
      pointer-events: none;
    }

    .arrow {
      display: block;
      width: 10px;
      height: 31px;
      background: url("../images/arrow.png");
      background-size: contain;
      position: absolute;
      top: 45%;
      cursor: pointer;
      @include transition();

      &:hover {
        &.left {
          left: -15px;
        }
        &.right {
          right: -15px;
        }
      }

      &.left {
        left: -15px;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
      }
      &.right {
        right: -15px;
      }
    }
  }
}

@media only screen and (min-width:450px) {
  .perziura {
    .info-cont {
      max-width: 720px;
    }

    .foto-cont {
      max-width: 400px;

      .arrow {
        width: 15px;
        height: 49px;

        &:hover {
          &.left {
            left: -22px;
          }
          &.right {
            right: -22px;
          }
        }

        &.left {
          left: -22px;
        }
        &.right {
          right: -22px;
        }
      }
    }
  }
}

@media only screen and (min-width:767px) {
  .perziura {
    .foto-cont {
      .arrow {
        width: 21px;
        height: 68px;

        &:hover {
          &.left {
            left: -73px;
          }
          &.right {
            right: -73px;
          }
        }

        &.left {
          left: -70px;
        }
        &.right {
          right: -70px;
        }
      }
    }
  }
}

@media only screen and (min-width:1200px) {

  .imgleft,
  .imgright {
    display: block;
  }

}