@mixin transition($mode:all, $duration:0.2s, $ease:ease-out) {
  -webkit-transition: #{$mode $duration $ease};
  -moz-transition: #{$mode $duration $ease};
  -o-transition: #{$mode $duration $ease};
  transition: #{$mode $duration $ease};
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}